**/.DS_Store
**/.idea
**/.settings
**/.project
**/.classpath
**/.prefs
**/target
**/bin
**/*.iml
/application/spring-shell.log
/application/orion-cli.log
/application/spring-shell-app.log
/spring-shell-app.log
